<!doctype html>
<html>

  {{zeroCount}}
  <link rel="stylesheet" type="text/css" href="https://wedding.marston.info/css/layout.css"/>
  <style>
    table { margin: auto; border-collapse: collapse }
    th, tr, td { border: 1px solid black; }
  </style>
  <body>
    <div id="navigation">
      <ul>
        <li> <a target="_self" href="#Messages"><div>Messages</div></a></li>
        <li> <a target="_self" href="#RSVPs"><div>RSVPs</div></a></li>
      </ul>
    </div>
    <div id="content">
      <div id="Messages" class="page">
        <h3>Messages</h3>
        <table>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Subject</th>
              <th>Message</th>
          </tr>
          {{#each Contact}}
          <tr>
              <td>{{firstname}}</td>
              <td>{{lastname}}</td>
              <td>{{subject}}</td>
              <td>{{message}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
      <div id="RSVPs" class="page">
        <h3>RSVPs</h3>
        <table>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Starter</th>
              <th>Main</th>
              <th>Song</th>
              <th>Highchairs</th>
              <th>Special</th>
          </tr>
          {{#each RSVP}}
          {{countUp this}}
          <tr>
              <td>{{firstname}}</td>
              <td>{{lastname}}</td>
              <td>{{starter}}</td>
              <td>{{main}}</td>
              <td>{{song}}</td>
              <td>{{highchairs}}</td>
              <td>{{special}}</td>
          </tr>
          {{/each}}
        </table>
        {{totals}}
      </div>
    </div>
  </body>
</html>
